<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yp.nowapi.mapper.ProductOrderMapper">

    <resultMap id="BaseResultMap" type="com.yp.nowapi.model.entity.ProductOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="productId" column="productId" jdbcType="BIGINT"/>
            <result property="orderName" column="orderName" jdbcType="VARCHAR"/>
            <result property="total" column="total" jdbcType="BIGINT"/>
            <result property="codeUrl" column="codeUrl" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="formData" column="formData" jdbcType="VARCHAR"/>
            <result property="expirationTime" column="expirationTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,productId,
        orderName,total,codeUrl,
        status,formData,expirationTime,
        createTime,updateTime
    </sql>
</mapper>
